body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    font-family: "둥근모꼴";
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}
.navbar-top {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0px 12px;
}
.navbar-user {
    display: flex;
    list-style: none;
    font-size: 12px;
    padding-right: 0px;
}
.navbar-user li {
    padding: 8px 12px;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.navbar-logo {
    padding: 0px 18px;
}
.navbar-menu li {
    padding: 8px 12px;
}
.navbar-menu li:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.swiper-container {
    align-items: center;
    width: 1080px;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
.title-text {
    padding: 25px 0;
    font-family: "둥근모꼴";
    border-bottom: 1px solid #cccccc;
}
.cafe-img {
    padding: 4px;
}
#map-view {
    width: 1280px;
    height: 480px;
}
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.column {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 6px;
}
.column h3 {
    padding: 8px 0px;
    font-family: "둥근모꼴";
}
.column li {
    list-style: none;
}
.review {
    width: 480px;
}
.review ul {
    padding-left: 16px;
    float: left;
}
.menu {
    padding: 40px 80px;
    width: 400px;
    margin: 6px;
}
.menu h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    font-family: "둥근모꼴";
    text-align: center;
}
.menu ul {
    padding-left: 0px;
}
.menu li {
    list-style: none;
}
.menu span {
    display: inline-block;
}
.menu .name {
    width: 120px;
}
.menu .type {
    width: 220px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}
.menu .price {
    padding-left: 8px;
}
.paper {
    width: 348px;
    margin: 17px;
    padding: 15px 15px 0;
    font-size: 11px;
    background: #FFFFFF;
    border : 1px solid #cccccc;
}
.paper-info {
    margin: 10px 0;
}
.paper-text {
    margin: 0 -15px;
    margin-top: 10px;
    padding: 10px 15px;
    background: #F2F0F0;
    overflow: hidden;
}
.paperText {
    float: left;
    width: 300px;
    margin-left: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 75%;
}
@media screen and (max-width: 1280px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-menu.hide {
        display: none;
        visibility: hidden;
    }
    .swiper-container {
        width: 100%;
    }
    .main-img {
        width: 100%;
    }
    .contents {
        justify-content: space-around;
    }
    .column {
        width: 100%;
    }
    .column img {
        width: 100%;
        height: auto;
    }
    .menu {
        padding: 40px 0px;
        width: 400px;
        margin: 6px;
    }
    .review {
        width: 100%;
    }
    .review img {
        height: auto;
    }
    .cafe-img {
        padding: 2px 0px;
        width: 33%;
        height: auto;
    }
    #map-view {
        width: 75%;
        height: 480px;
    }
}