@font-face {
    font-family: "DungGeunMo";
    src: url(/font/DungGeunMo.ttf);
    src: url(/font/DungGeunMo.eot) format('embedded-opentype'), 
		url(/font/DungGeunMo.woff) format('woff'),
		url(/font/DungGeunMo.ttf) format('truetype');
	src: local(※), url(/font/DungGeunMo.woff) format('woff');
}
a {
    text-decoration: none;
    color: black;
}
nav {
    font-family: "DungGeunMo";
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}
.navbar-top {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0px 12px;
}
.navbar-user {
    display: flex;
    list-style: none;
    font-size: 12px;
    padding-right: 0px;
}
.navbar-user li {
    padding: 8px 12px;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.navbar-logo {
    padding: 0px 18px;
}
.navbar-menu li {
    padding: 8px 12px;
}
.navbar-menu li:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.swiper-container {
    align-items: center;
    width: 1080px;
    overflow: hidden;
}
.swiper-button-prev, .swiper-button-next {
    top: auto !important;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
.title-text {
    padding: 25px 0;
    font-family: "DungGeunMo";
    border-bottom: 1px solid #cccccc;
}
.cafe-img {
    padding: 4px;
}
#map-view {
    width: 1280px;
    height: 480px;
}
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.column {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 6px;
}
.column h3 {
    padding: 8px 0px;
    font-family: "DungGeunMo";
}
.column li {
    list-style: none;
}
.review {
    width: 480px;
}
.review ul {
    padding-left: 16px;
    float: left;
}
.menu {
    padding: 40px 80px;
    width: 400px;
    margin: 6px;
}
.menu h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    font-family: "DungGeunMo";
    text-align: center;
}
.menu ul {
    padding-left: 0px;
}
.menu li {
    list-style: none;
}
.menu span {
    display: inline-block;
}
.menu .name {
    width: 120px;
}
.menu .type {
    width: 220px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}
.menu .price {
    padding-left: 8px;
}
.paper {
    width: 340px;
    margin: 15px;
    padding: 15px 15px 0;
    font-size: 12px;
    background: #FFFFFF;
    border : 1px solid #cccccc;
}
.paper .review-img {
    width: 100%;
}
.paper-info {
    font-weight: bold;
    margin: 10px 0;
}
.paper-text {
    margin: 0 -15px;
    margin-top: 10px;
    padding: 10px 15px;
    background: #F2F0F0;
    overflow: hidden;
}
.paperText {
    float: left;
    width: 300px;
    margin-left: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 75%;
}
@media screen and (max-width: 1280px) {
    .navbar-user li {
        font-size: 150%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 24pt;
    }
    .navbar-menu li {
        padding: 16px 12px;
    }
    .navbar-menu.hide {
        display: none;
        visibility: hidden;
    }
    .swiper-container {
        width: 100%;
    }
    .main-img {
        width: 100%;
    }
    .contents {
        justify-content: space-around;
    }
    .main-title p {
        font-size: 150%;
    }
    .title-text {
        font-size: 400%;
        font-weight: lighter;
    }
    .column {
        width: 100%;
    }
    .column h3 {
        font-size: 20pt;
    }
    .column li {
        font-size: 16pt;
        padding-bottom: 8px;
    }
    .column img {
        width: 100%;
        height: auto;
    }
    .menu {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu .title {
        margin: 0px;
        width: inherit;
        font-size: 135%;
    }
    .menu ul {
        margin: 0px;
        width: inherit;
    }
    .menu span {
        font-size: 125%;
    }
    .menu .name {
        width: 33%;
    }
    .menu .type {
        width: 57%;
        font-size: 100%;
    }
    .menu .price {
        text-align: right;
    }
    .paper {
        width: 80%;
        font-size: 150%;
    }
    .review {
        width: 100%;
    }
    .review img {
        height: auto;
    }
    .cafe-img {
        padding: 10px 0px;
        width: 90%;
        height: auto;
    }
    #map-view {
        padding: 10px 0px;
        width: 90%;
        height: 480px;
    }
    .footer {
        font-size: 100%;
    }
}