body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    font-family: "둥근모꼴";
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px 12px;
}
.navbar-top {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0px 12px;
}
.navbar-user {
    display: flex;
    list-style: none;
    font-size: 12px;
    padding-right: 0px;
}
.navbar-user li {
    padding: 8px 12px;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.navbar-logo {
    padding: 0px 18px;
}
.navbar-menu li {
    padding: 4px 12px;
}
.navbar-menu li:hover {
    background-color: white;
    border-radius: 4px;
}
.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.swiper-container {
    align-items: center;
    width: 1080px;
}
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 6px;
}
.column h3 {
    padding: 8px 0px;
    font-family: "둥근모꼴";
}
.column li {
    list-style: none;
}
.review {
    width: 480px;
}
.review ul {
    padding-left: 16px;
    float: left;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 75%;
}
@media screen and (max-width: 1280px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-menu.hide {
        display: none;
        visibility: hidden;
    }
    .swiper-container {
        width: 100%;
    }
    .main-img {
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .column img {
        width: 100%;
        height: auto;
    }
    .review {
        width: 100%;
    }
    .review img {
        height: auto;
    }
}